.PreCode {
    background: #343a40; /* bg-dark */
    color: #f8f9fa; /* text-light */
    padding: 0.5em;
    border-radius: 0.5em;
}
.IntroCard:before {
    color: var(--success);
    /* content: "\f0ae"; */
    font-family: FontAwesome;
    opacity: 0.2;
    position: absolute;
    top: 50%;
    left: 24px;
    bottom: unset;
    right: 32px;
    right: unset;
    transform: translateY(-50%);
    font-size: 3em;
}
.JobsIntroCard:before {
    content: "\f0ae";
}
.ScriptsIntroCard:before {
    content: "\f0f6";
}
.IntroCardText {
    padding-left: 64px;
}
.AceEditor {
    border-radius: 0.5em;
}
.MetadataEntryDT {
    float: left;
    width: 9em;
    margin-right: 0.5em;
}
.MetadataEntryDD {
}
.ResultsListing {
    max-height: 20em;
    overflow-y: auto;
    overflow-y: overlay;
}
.FileContent {
    max-height: 40em;
}
.FileItemNonViewable {
    /* cursor: not-allowed; */
}
.FileItemActiveColor {
    color: #fff;
}
