.PreCode {
    background: #343a40; /* bg-dark */
    color: #f8f9fa; /* text-light */
    padding: 0.5em;
    border-radius: 0.5em;
}
.ScriptContent {
    max-height: 48em;
}
.IntroCard:before {
    color: var(--success);
    /* content: "\f0ae"; */
    font-family: FontAwesome;
    opacity: 0.2;
    position: absolute;
    top: 50%;
    left: 24px;
    bottom: unset;
    right: 32px;
    right: unset;
    transform: translateY(-50%);
    font-size: 3em;
}
.JobsIntroCard:before {
    content: "\f0ae";
}
.ScriptsIntroCard:before {
    content: "\f0f6";
}
.IntroCardText {
    padding-left: 64px;
}
