.TemplateCardDeck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
  grid-gap: 1.5rem 0;
}

.Jumbotron {
    position: relative;
}

.Jumbotron:before {
    color: var(--success);
    content: "\f1c9";
    font-family: FontAwesome;
    font-size: 12em;
    opacity: 0.2;
    position: absolute;
}

@media (max-width: 1199.98px) {
    .Jumbotron:before {
        top: 50%;
        left: 50%;
        bottom: unset;
        right: unset;
        transform: translate(-50%, -50%);
    }
}
@media (min-width: 1200px) {
    .Jumbotron:before {
        top: 50%;
        left: unset;
        bottom: unset;
        right: 32px;
        transform: translateY(-50%);
    }
}
