{
  # The root URL for the API server.
  #
  # The relative paths for the API server are added to this URL.  To load the
  # templates data a request is made to the relative URL `/templates`, which is
  # tranformed into the absolute URL `${apiRootUrl}/templates`.
  "apiRootUrl": "https://gateway1.my.custer/job-scripts/api",
}
